### Importowanie pakietów z znanym nam zbiorem iris

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [3]:
type(iris)

sklearn.utils.Bunch

In [4]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': '/usr/local/lib/python3.6/site-packages/sklearn/datasets/data/iris.csv'}

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [7]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.9-cp36-cp36m-manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.6 MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.6/site-packages (from sqlalchemy) (3.7.3)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.0.0-cp36-cp36m-manylinux2010_x86_64.whl (156 kB)
     |████████████████████████████████| 156 kB 22.2 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.6/site-packages (from importlib-metadata->sqlalchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/site-packages (from importlib-metadata->sqlalchemy) (3.4.1)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.0.0 sqlalchemy-1.4.9

### Tworzenie i łączenie się z bazą danych SQL

Polecenie create_engine pozwala nam się podłączyć do już istniejącej bazy danych.
SQLite to baza danych "plikowa". Stworzy nam się plik .db, który będzie zawierałnasze bazy danych

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///irysy4.db')
baza_danych = create_engine('sqlite:///irysy5.db')

Za pomocą polecenia to_sql możemy zapisać nasze obiekty jako tabele sql-owe i zapisać w bazie danych

In [9]:
df.to_sql('dane', con=engine, index=False)

In [13]:
a=engine.execute("SELECT * FROM dane").fetchall()

In [12]:
engine.execute("SELECT AVG([sepal width (cm)]) FROM dane").fetchall()

[(3.057333333333334,)]

In [14]:
type(a)

list

In [15]:
a

[(5.1, 3.5, 1.4, 0.2, 0.0),
 (4.9, 3.0, 1.4, 0.2, 0.0),
 (4.7, 3.2, 1.3, 0.2, 0.0),
 (4.6, 3.1, 1.5, 0.2, 0.0),
 (5.0, 3.6, 1.4, 0.2, 0.0),
 (5.4, 3.9, 1.7, 0.4, 0.0),
 (4.6, 3.4, 1.4, 0.3, 0.0),
 (5.0, 3.4, 1.5, 0.2, 0.0),
 (4.4, 2.9, 1.4, 0.2, 0.0),
 (4.9, 3.1, 1.5, 0.1, 0.0),
 (5.4, 3.7, 1.5, 0.2, 0.0),
 (4.8, 3.4, 1.6, 0.2, 0.0),
 (4.8, 3.0, 1.4, 0.1, 0.0),
 (4.3, 3.0, 1.1, 0.1, 0.0),
 (5.8, 4.0, 1.2, 0.2, 0.0),
 (5.7, 4.4, 1.5, 0.4, 0.0),
 (5.4, 3.9, 1.3, 0.4, 0.0),
 (5.1, 3.5, 1.4, 0.3, 0.0),
 (5.7, 3.8, 1.7, 0.3, 0.0),
 (5.1, 3.8, 1.5, 0.3, 0.0),
 (5.4, 3.4, 1.7, 0.2, 0.0),
 (5.1, 3.7, 1.5, 0.4, 0.0),
 (4.6, 3.6, 1.0, 0.2, 0.0),
 (5.1, 3.3, 1.7, 0.5, 0.0),
 (4.8, 3.4, 1.9, 0.2, 0.0),
 (5.0, 3.0, 1.6, 0.2, 0.0),
 (5.0, 3.4, 1.6, 0.4, 0.0),
 (5.2, 3.5, 1.5, 0.2, 0.0),
 (5.2, 3.4, 1.4, 0.2, 0.0),
 (4.7, 3.2, 1.6, 0.2, 0.0),
 (4.8, 3.1, 1.6, 0.2, 0.0),
 (5.4, 3.4, 1.5, 0.4, 0.0),
 (5.2, 4.1, 1.5, 0.1, 0.0),
 (5.5, 4.2, 1.4, 0.2, 0.0),
 (4.9, 3.1, 1.5, 0.2, 0.0),
 (5.0, 3.2, 1.2, 0.2, 0.0),
 (5.5, 3.5, 1.3, 0.2, 0.0),
 (4.9, 3.6, 1.4, 0.1, 0.0),
 (4.4, 3.0, 1.3, 0.2, 0.0),
 (5.1, 3.4, 1.5, 0.2, 0.0),
 (5.0, 3.5, 1.3, 0.3, 0.0),
 (4.5, 2.3, 1.3, 0.3, 0.0),
 (4.4, 3.2, 1.3, 0.2, 0.0),
 (5.0, 3.5, 1.6, 0.6, 0.0),
 (5.1, 3.8, 1.9, 0.4, 0.0),
 (4.8, 3.0, 1.4, 0.3, 0.0),
 (5.1, 3.8, 1.6, 0.2, 0.0),
 (4.6, 3.2, 1.4, 0.2, 0.0),
 (5.3, 3.7, 1.5, 0.2, 0.0),
 (5.0, 3.3, 1.4, 0.2, 0.0),
 (7.0, 3.2, 4.7, 1.4, 1.0),
 (6.4, 3.2, 4.5, 1.5, 1.0),
 (6.9, 3.1, 4.9, 1.5, 1.0),
 (5.5, 2.3, 4.0, 1.3, 1.0),
 (6.5, 2.8, 4.6, 1.5, 1.0),
 (5.7, 2.8, 4.5, 1.3, 1.0),
 (6.3, 3.3, 4.7, 1.6, 1.0),
 (4.9, 2.4, 3.3, 1.0, 1.0),
 (6.6, 2.9, 4.6, 1.3, 1.0),
 (5.2, 2.7, 3.9, 1.4, 1.0),
 (5.0, 2.0, 3.5, 1.0, 1.0),
 (5.9, 3.0, 4.2, 1.5, 1.0),
 (6.0, 2.2, 4.0, 1.0, 1.0),
 (6.1, 2.9, 4.7, 1.4, 1.0),
 (5.6, 2.9, 3.6, 1.3, 1.0),
 (6.7, 3.1, 4.4, 1.4, 1.0),
 (5.6, 3.0, 4.5, 1.5, 1.0),
 (5.8, 2.7, 4.1, 1.0, 1.0),
 (6.2, 2.2, 4.5, 1.5, 1.0),
 (5.6, 2.5, 3.9, 1.1, 1.0),
 (5.9, 3.2, 4.8, 1.8, 1.0),
 (6.1, 2.8, 4.0, 1.3, 1.0),
 (6.3, 2.5, 4.9, 1.5, 1.0),
 (6.1, 2.8, 4.7, 1.2, 1.0),
 (6.4, 2.9, 4.3, 1.3, 1.0),
 (6.6, 3.0, 4.4, 1.4, 1.0),
 (6.8, 2.8, 4.8, 1.4, 1.0),
 (6.7, 3.0, 5.0, 1.7, 1.0),
 (6.0, 2.9, 4.5, 1.5, 1.0),
 (5.7, 2.6, 3.5, 1.0, 1.0),
 (5.5, 2.4, 3.8, 1.1, 1.0),
 (5.5, 2.4, 3.7, 1.0, 1.0),
 (5.8, 2.7, 3.9, 1.2, 1.0),
 (6.0, 2.7, 5.1, 1.6, 1.0),
 (5.4, 3.0, 4.5, 1.5, 1.0),
 (6.0, 3.4, 4.5, 1.6, 1.0),
 (6.7, 3.1, 4.7, 1.5, 1.0),
 (6.3, 2.3, 4.4, 1.3, 1.0),
 (5.6, 3.0, 4.1, 1.3, 1.0),
 (5.5, 2.5, 4.0, 1.3, 1.0),
 (5.5, 2.6, 4.4, 1.2, 1.0),
 (6.1, 3.0, 4.6, 1.4, 1.0),
 (5.8, 2.6, 4.0, 1.2, 1.0),
 (5.0, 2.3, 3.3, 1.0, 1.0),
 (5.6, 2.7, 4.2, 1.3, 1.0),
 (5.7, 3.0, 4.2, 1.2, 1.0),
 (5.7, 2.9, 4.2, 1.3, 1.0),
 (6.2, 2.9, 4.3, 1.3, 1.0),
 (5.1, 2.5, 3.0, 1.1, 1.0),
 (5.7, 2.8, 4.1, 1.3, 1.0),
 (6.3, 3.3, 6.0, 2.5, 2.0),
 (5.8, 2.7, 5.1, 1.9, 2.0),
 (7.1, 3.0, 5.9, 2.1, 2.0),
 (6.3, 2.9, 5.6, 1.8, 2.0),
 (6.5, 3.0, 5.8, 2.2, 2.0),
 (7.6, 3.0, 6.6, 2.1, 2.0),
 (4.9, 2.5, 4.5, 1.7, 2.0),
 (7.3, 2.9, 6.3, 1.8, 2.0),
 (6.7, 2.5, 5.8, 1.8, 2.0),
 (7.2, 3.6, 6.1, 2.5, 2.0),
 (6.5, 3.2, 5.1, 2.0, 2.0),
 (6.4, 2.7, 5.3, 1.9, 2.0),
 (6.8, 3.0, 5.5, 2.1, 2.0),
 (5.7, 2.5, 5.0, 2.0, 2.0),
 (5.8, 2.8, 5.1, 2.4, 2.0),
 (6.4, 3.2, 5.3, 2.3, 2.0),
 (6.5, 3.0, 5.5, 1.8, 2.0),
 (7.7, 3.8, 6.7, 2.2, 2.0),
 (7.7, 2.6, 6.9, 2.3, 2.0),
 (6.0, 2.2, 5.0, 1.5, 2.0),
 (6.9, 3.2, 5.7, 2.3, 2.0),
 (5.6, 2.8, 4.9, 2.0, 2.0),
 (7.7, 2.8, 6.7, 2.0, 2.0),
 (6.3, 2.7, 4.9, 1.8, 2.0),
 (6.7, 3.3, 5.7, 2.1, 2.0),
 (7.2, 3.2, 6.0, 1.8, 2.0),
 (6.2, 2.8, 4.8, 1.8, 2.0),
 (6.1, 3.0, 4.9, 1.8, 2.0),
 (6.4, 2.8, 5.6, 2.1, 2.0),
 (7.2, 3.0, 5.8, 1.6, 2.0),
 (7.4, 2.8, 6.1, 1.9, 2.0),
 (7.9, 3.8, 6.4, 2.0, 2.0),
 (6.4, 2.8, 5.6, 2.2, 2.0),
 (6.3, 2.8, 5.1, 1.5, 2.0),
 (6.1, 2.6, 5.6, 1.4, 2.0),
 (7.7, 3.0, 6.1, 2.3, 2.0),
 (6.3, 3.4, 5.6, 2.4, 2.0),
 (6.4, 3.1, 5.5, 1.8, 2.0),
 (6.0, 3.0, 4.8, 1.8, 2.0),
 (6.9, 3.1, 5.4, 2.1, 2.0),
 (6.7, 3.1, 5.6, 2.4, 2.0),
 (6.9, 3.1, 5.1, 2.3, 2.0),
 (5.8, 2.7, 5.1, 1.9, 2.0),
 (6.8, 3.2, 5.9, 2.3, 2.0),
 (6.7, 3.3, 5.7, 2.5, 2.0),
 (6.7, 3.0, 5.2, 2.3, 2.0),
 (6.3, 2.5, 5.0, 1.9, 2.0),
 (6.5, 3.0, 5.2, 2.0, 2.0),
 (6.2, 3.4, 5.4, 2.3, 2.0),
 (5.9, 3.0, 5.1, 1.8, 2.0)]

In [16]:
a[0]

(5.1, 3.5, 1.4, 0.2, 0.0)

In [17]:
type(a[0])

sqlalchemy.engine.row.LegacyRow

Te dane możemy skonwertować do data frame

In [18]:
pd.DataFrame(a)

       0    1    2    3    4
0    5.1  3.5  1.4  0.2  0.0
1    4.9  3.0  1.4  0.2  0.0
2    4.7  3.2  1.3  0.2  0.0
3    4.6  3.1  1.5  0.2  0.0
4    5.0  3.6  1.4  0.2  0.0
..   ...  ...  ...  ...  ...
145  6.7  3.0  5.2  2.3  2.0
146  6.3  2.5  5.0  1.9  2.0
147  6.5  3.0  5.2  2.0  2.0
148  6.2  3.4  5.4  2.3  2.0
149  5.9  3.0  5.1  1.8  2.0

[150 rows x 5 columns]

In [19]:
df2 = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df2

     name
0  User 1
1  User 2
2  User 3

In [47]:
df2.to_sql('users', con=engine, if_exists="replace",index=True)
#engine.execute("SELECT * FROM users").fetchall()

In [48]:
df3 = pd.DataFrame({'name' : ['User 6', 'User 7']})
df3.to_sql('users', con=engine, if_exists='append')

In [49]:
engine.execute("SELECT * FROM users").fetchall()

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'), (0, 'User 6'), (1, 'User 7')]

In [50]:
from sqlalchemy import create_engine
from sqlalchemy import Column, String, Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [51]:
engine = create_engine('sqlite:///irysy2.db')
base = declarative_base()

In [52]:
type(base)

sqlalchemy.orm.decl_api.DeclarativeMeta

In [53]:
class Transakcje(base):
    
    __tablename__ = 'transakcje'
    
    transakcja_id = Column(Integer, primary_key=True)
    data = Column(String)
    przedmiot_id = Column(Integer)
    cena = Column(Integer)
    
    def __init__(self, transakcja_id, data, przedmiot_id, cena):
        self.transakcja_id = transakcja_id
        self.data = data
        self.przedmiot_id = przedmiot_id
        self.cena = cena

In [56]:
class Kwiaty(base):
    
    __tablename__ = 'irysy'
    
    kwiat_id   = Column(Integer, primary_key=True)
    dzial_dlug = Column(Integer)
    dzial_szer = Column(Integer)
    plat_dlug  = Column(Integer)
    plat_szer  = Column(Integer)
    
    def __init__(self, kwiat_id, dzial_dlug, dzial_szer, plat_dlug, plat_szer):
        self.kwiat_id = kwiat_id
        self.dzial_dlug = dzial_dlug
        self.dzial_szer = dzial_szer
        self.plat_dlug = plat_dlug
        self.plat_szer = plat_szer

In [ ]:
# tworzenie tabel
base.metadata.create_all(engine)

In [ ]:
from sqlalchemy.orm import sessionmaker
# Stworzenie nowej sesji
Session = sessionmaker(bind=engine)
session = Session()
# dodanie danych
for t in range(10):
    tr = Transakcje(t, f'200{t}/05/06', t**2-t*2, 19)
    session.add(tr)
# zapis zmian w bazie danych
session.commit()

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()
# dodanie danych
for t in range(df.shape[0]):
    tr = Kwiaty(t, df.iloc[t,0], df.iloc[t,1], df.iloc[t,2],df.iloc[t,3])
    session.add(tr)
# zapis zmian w bazie danych
session.commit()

In [ ]:
engine.execute("SELECT * FROM irysy").fetchall()

In [ ]:
df.shape[0]

In [ ]:
df.iloc[0,0]

In [ ]:
df.iloc[0,0]

In [ ]:
engine.execute("SELECT * FROM Transakcje").fetchall()

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()
# dodanie danych
for t in range(10):
    tr = Transakcje2(t, f'200{t}/05/06', t**2-t*2, 19)
    session.add(tr)
# zapis zmian w bazie danych
session.commit()

In [ ]:
engine.execute("SELECT * FROM transakcje").fetchall()

In [ ]:
# wszystkie dane
for s in session.query(Transakcje).all():
    print(s.transakcja_id, s.data)

In [ ]:
# wybrane transakcje
for s in session.query(Transakcje).filter(Transakcje.transakcja_id>5):
    print(s.transakcja_id, s.data)

In [ ]:
# wybrane Kwiaty
for s in session.query(Kwiaty).filter(Kwiaty.dzial_dlug>5):
    print(s.kwiat_id, s.dzial_dlug)

In [ ]:
import json

JSON - Java Script Object Notation (ale w żaden sposób nie jest połączony z Java Scriptem czy żadnym innym językiem).  
JSON to sposób na lekki format wymiany danych.  
W JSON są czyste dane, nie ma tam jakichś zmiennych czy fukncji. Popularyazcja jego nastąpiła od mniej więcej 2001. Teraz jest używanie prawie, że domyślnie do wymiany danych między aplikacjami.

In [ ]:
from IPython.display import HTML
from IPython.display import Image

In [ ]:
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/haYYypSnOTY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

In [ ]:
person = '{"name": "Bob", "languages": ["English", "French"]}'
type(person)

In [ ]:
person

In [ ]:
person_dict = json.loads(person)

# Output: {'name': 'Bob', 'languages': ['English', 'Fench']}
print(person_dict)

# Output: ['English', 'French']
print(person_dict['languages'])

In [ ]:
person_dict

In [ ]:
type(person_dict)

In [ ]:
%%file test5.json


{"name": "Bob", 
"languages": ["English", "French"]
}

In [ ]:
with open('test.json') as f:
    data = json.load(f)

# Output: {'name': 'Bob', 'languages': ['English', 'Fench']}
print(data)

In [ ]:
type(data)

In [ ]:
data['name']

In [ ]:
data['languages']

In [ ]:
person_dict = {'name': 'Bob',
'age': 12,
'children': None
}

person_json = json.dumps(person_dict)
print(person_json)

In [ ]:
with open('person2.json', 'w') as json_file:
    json.dump(person_dict, json_file)

In [ ]:
print(json.dumps(person_dict, indent = 4, sort_keys=True))

In [ ]:
!pip install flask
!pip install flask_restful
!pip install flask_jsonpify

In [ ]:
from flask import Flask, request
from flask_restful import Resource, Api
from flask_jsonpify import jsonify

In [ ]:
app  = Flask(__name__)
api = Api(app)

@app.route('/')
@app.route('/index')
def home():
    #return render_template('home.html')
    return "Strona poczatkowa"

@app.route('/hello/<name>')
def success(name):
    return f'<h1>{name}</h1>'

In [ ]:
class Main(Resource):
    def get(self):
        return jsonify("Hello world")

In [ ]:
api.add_resource(Main,'/test')

In [ ]:
class Irys(Resource):
    
    def get(self):
        conn=engine.connect()
        query = conn.execute('select * from irysy')
        result = {'dane':[i for i in query.cursor.fetchall()]}
        return jsonify(result)

In [ ]:
api.add_resource(Irys, '/irys')

In [ ]:
app.run(port='5002')